<form action="/accounts/confirm-email" method="POST">
    <label for="email">Enter your email address to get reset password link:</label>
    <input type="email" name="email" id="email" placeholder="email@example.com">

    <input type="submit" value="Reset Password" id="submit-btn">

</form>