<head>
    <title> <%= title %> </title>
</head>
<body>
    <h1>Friendlink</h1>

    <% if(locals.user){ %>
        <%- include('_user_wall') %> 
    <% }else{ %>
        <%- include('user_sign_in') %>
    <% } %>
    
</body>
