<link rel="stylesheet" href="/css/home.css">
<!-- <link rel="stylesheet" href="/css/_user_wall.css"> -->
<link rel="stylesheet" href="/css/user_sign_in">

<div id="home-container">

    <% if(locals.user){ %>
        <%- include('_user_wall') %> 
    <% }else{ %>
        <%- include('user_sign_in') %>
    <% } %>

</div>