
<div id="home-container">

    <% if(locals.user){ %>
        <%- include('_user_wall') %> 
    <% }else{ %>
        <%- include('user_sign_in') %>
    <% } %>

</div>

<script src="/js/home_posts.js"></script>