<form action="/accounts/reset-password" method="POST">

    <input type="password" name="password" placeholder="New Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="hidden" name="accessToken" value="<%=accessToken%>">
    <input type="submit" value="Reset Password">

</form>