<h3>Sign in</h3>

<form action="" method="POST">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Your Password" required>
    <input type="submit" value="Sign In">
</form>

<p>
    <a href="#">Forgot password?</a>
</p>

<p>
    New to friendlink? <a href="/users/sign-up">Create an account</a>
</p>
