<table >
    <tr>
        <td>
          Hello <%= token.user.name %> ,
        </td>
    </tr>

    <tr>
        <td>
            <span><a href="http:/localhost:8000/accounts/reset/?accessToken=<%=token.accessToken%>"> Click here </a> to reset the password</span>
        </td>
    </tr>
    <tr>
        <td>
            ThankYou !
        </td>
    </tr>
</table> 